@import "font-awesome";
@import "~bulma/bulma";

span.select {
  width: 100%;

  select {
    width: 100%;
  }
}

.field .is-pulled-right {
  margin-left: auto;
}

.loader-centered {
  display: block;
  margin: auto;
  width: 5rem;
  margin-top: 5rem
}