@import "font-awesome";

$body-size: 14px !default;

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// TODO: Revert these changes
$primary: $turquoise;
$primary-invert: findColorInvert($primary);
$link: $primary !default;
$link-invert: $primary-invert !default;
$link-focus-border: $primary !default;

@import "~bulma/bulma";

span.select {
  width: 100%;

  select {
    width: 100%;
  }
}

.field .is-pulled-right {
  margin-left: auto;
}

.loader-centered {
  display: block;
  margin: auto;
  width: 5rem;
  margin-top: 5rem
}

.fa {
  font-size: 14px;
}

.titlebar-button {
  margin-top: -.5rem;
}

.uppercase {
  text-transform: uppercase;
}

@media print {
  body * {
    visibility: hidden;
    width: initial !important;
    float: none !important;
  }

  #printable, #printable * {
    visibility: visible;
  }

  .print-hidden, .print-hidden * {
    visibility: hidden !important;
  }

  .print-break-before {
    page-break-before: always !important;
    break-before: page !important;
  }

  #printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
